.notes-section {
  display: flex;
  flex-direction: column;
  gap: 2ch;
  background-color: #f7ecdc;
  width: 77vw;
  height: 97vh;
  position: relative;
  border-bottom-left-radius: 1em;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #e8e8e8;
  padding: 0.6em;
  gap: 2ch;
  font-weight: 500;
}

#navbar-groupImage {
  position: relative;
}

#navbar-profile-text {
  position: absolute;
  color: white;
  margin-left: 0.5em;
  margin-top: -0.2em;
}

#navbar-label {
  font-size: 1.3em;
}

.notes-home {
  margin-top: 26vh;
}

#home-image {
  display: flex;
  justify-content: center;
}
#home-image > img {
  width: 30vw;
}

#notes-text-field {
  position: absolute;
  bottom: 0;
  height: 27vh;
  width: 74vw;
  background-color: #e8e8e8;
  /* padding: 1em; */
  /* padding-left: 1em; */
  padding: 0.5em 1.3em 0.5em 1.3em;
  border-bottom-left-radius: 1em;
}
#notes-text-field > textarea {
  width: 73vw;
  height: 20vh;
  position: absolute;
  bottom: 3vh;
  border-radius: 0.4em;
  border: none;
  font-size: 1.3em;
  padding: 0.8em;
}
#notes-text-field > textarea::placeholder {
  color: #9a9a9a;
  /* font-size: 1.3em; */
}

#note-add-button {
  position: absolute;
  bottom: 7vh;
  right: 1vw;
}

.notes {
  display: flex;
  gap: 4ch;
}
