.notes-section {
  display: flex;
  flex-direction: column;
  gap: 2ch;
  background-color: #f7ecdc;
  width: 77vw;
  height: 100vh;
  position: relative;
  border-bottom-left-radius: 1em;
}

.note-section {
  height: 55vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 4ch;
  margin-bottom: 4vh;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #e8e8e8;
  padding: 0.6em;
  gap: 2ch;
  font-weight: 500;
}

#navbar-groupImage {
  position: relative;
}
#navbar-groupImage > img {
  height: 7vh;
}

#navbar-profile-text {
  position: absolute;
  color: white;
  margin-left: 0.9em;
  margin-top: -0.2em;
}

#navbar-label {
  font-size: 1.3em;
}

.notes-home {
  margin-top: 18vh;
  height: 100%;
}

#home-image {
  display: flex;
  justify-content: center;
}
#home-image > img {
  width: 30vw;
}

#notes-text-field {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  height: 27vh;
  width: 77vw;
  background-color: #e8e8e8;
  border-bottom-left-radius: 1em;
}
#notes-text-field > textarea {
  width: 73vw;
  height: 19vh;
  position: absolute;
  bottom: 1vh;
  border-radius: 0.4em;
  border: none;
  font-size: 1.3em;
  padding: 0.8em;
  resize: none;
  -ms-overflow-style: none;
}
#notes-text-field > textarea::placeholder {
  color: #9a9a9a;
  /* font-size: 1.3em; */
}

#note-add-button {
  position: absolute;
  bottom: 7vh;
  right: 2vw;
  height: 4vh;
  cursor: pointer;
}

.notes {
  display: flex;
  gap: 7ch;
  margin-left: 4vw;
  margin-right: 6vw;
}

.note > p {
  margin: 0;
  overflow-wrap: anywhere;
  width: 55vw;
}

.date-time {
  color: #353535;
  font-weight: 500;
  width: 8vw;
}

@media (max-width: 450px) {
  .notes-section {
    width: 100vw;
    height: 100vh;
    font-size: 0.9em;
  }

  #navbar-profile-text {
    position: absolute;
    color: white;
    margin-left: 3.8em;
    margin-top: -0.3em;
  }

  .notes {
    gap: 5ch;
  }

  .date-time {
    width: 25vw;
  }

  .note-section {
    height: 64vh;
    margin-bottom: 2vh;
    margin-top: 1vh;
  }

  #notes-text-field {
    bottom: 0em;
    height: 18vh;
    width: 91vw;
    border-bottom-left-radius: 0;
  }

  #notes-text-field > textarea {
    width: 84vw;
    height: 12vh;
    bottom: 2vh;
    border-radius: 0.4em;
    border: none;
    font-size: 1.3em;
    resize: none;
    -ms-overflow-style: none;
  }

  #note-add-button {
    bottom: 4vh;
    right: 6vw;
    height: 2.6vh;
  }
}
