.group-section {
  width: 23vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2ch;
  font-weight: 500;
}

#group-heading {
  font-size: 1.8em;
  margin: 4vh 0 2vh 1vw;
}

#create-Groups-Button {
  /* margin-left: 2vw; */
  align-self: center;
}
#create-Groups-Button > button {
  display: flex;
  gap: 1ch;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 0.5em;
  font-size: 1.3em;
  width: 20vw;
  border-radius: 2em;
  border: none;
  cursor: pointer;
}

.groups {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 0;
  margin-left: 1.5em;
}
.groups > div {
  display: flex;
  gap: 2ch;
  cursor: pointer;
  align-items: center;
  padding: 0.4em;
  border-top-left-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
}
.group > div::selection {
  background-color: #f7ecdc;
}

.groupImage {
  position: relative;
}
.groupImage > img {
  height: 8vh;
}

.profile-label {
  position: absolute;
  font-size: 1.2em;
  color: white;
  text-align: center;
  margin-left: 0.6em;
  margin-top: -0.2em;
}

.group {
  font-size: 1.2em;
  align-self: center;
}

.modal {
  position: absolute;
  align-self: center;
  justify-self: center;
  inset: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  width: 30vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  gap: 3ch;
  font-weight: 500;
}

.modal > div:nth-child(1) {
  font-size: 1.3em;
}

.modal > div:nth-child(2),
.modal > div:nth-child(3) {
  font-size: 1em;
  display: flex;
  flex-direction: row;
  gap: 3ch;
  align-items: center;
}

#modal-input {
  padding: 0.5em;
  width: 20vw;
  border: 2px solid #cccccc;
  border-radius: 1em;
  font-size: 1em;
}
#modal-input::placeholder {
  color: #979797;
}

#color-group > span > img {
  height: 5vh;
  cursor: pointer;
}

#create-button {
  position: absolute;
  right: 3vw;
  bottom: 3vh;
  width: 6vw;
  height: 4vh;
  border-radius: 0.8em;
  background-color: black;
  color: white;
  padding: 0.2em;
  align-content: center;
  align-items: center;
  font-size: 0.8em;
  cursor: pointer;
}

@media only screen and (max-width: 450px) {
  .group-section {
    width: 100vw;
  }

  #group-heading {
    margin: 4vh 0 1vh 5vw;
  }

  #create-Groups-Button {
    align-self: center;
  }
  #create-Groups-Button > button {
    width: 80vw;
  }

  .groups {
    margin-left: 2.1em;
  }

  .groupImage > img {
    height: 9vh;
  }

  .profile-label {
    margin-left: 1.4em;
  }

  .modal {
    width: 66vw;
    height: 26vh;
    gap: 2ch;
    border-radius: 1em;
  }

  .modal > div:nth-child(2),
  .modal > div:nth-child(3) {
    font-size: 0.9em;
    gap: 2ch;
  }

  #modal-input {
    width: 38vw;
    border-radius: 0.8em;
    font-size: 0.9em;
  }

  #color-group > span > img {
    height: 3vh;
  }

  #create-button {
    right: 18vw;
    bottom: 3vh;
    width: 42vw;
    height: 4vh;
    border-radius: 0.5em;
    padding: 0.2em;
    font-size: 1em;
  }
}
