.group-section {
  width: 23vw;
  height: 100vh;
}

#create-Groups-Button {
  display: flex;
  justify-content: center;
}

#create-Groups-Button > button {
  background-color: black;
  color: white;
  padding: 0.5em;
  font-size: 1.3em;
  width: 18vw;
  border-radius: 2em;
  border: none;
  cursor: pointer;
}

.groups {
  display: flex;
  flex-direction: column;
  gap: 1ch;
  margin: 2em 1em;
  margin-right: 0;
}
.groups > div {
  display: flex;
  gap: 2ch;
  cursor: pointer;
  align-items: center;
  padding: 0.6em;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}
.group > div::selection {
  background-color: #f7ecdc;
}

#groupImage {
  /* border: none;
  border-radius: 1em; */
  /* background-color: blue; */
  /* color: white;
  width: 2.4em;
  height: 2.1em;
  align-items: center;
  text-align: center; */
}

#group {
  font-size: 1.2em;
}

.modal {
  position: absolute;
  align-self: center;
  justify-self: center;
  inset: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  width: 30vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  gap: 3ch;
}

.modal > div {
}

.modal > div:nth-child(1) {
  font-size: 1.5em;
}

.modal > div:nth-child(2) {
  font-size: 1em;
  display: flex;
  flex-direction: row;
  gap: 3ch;
}

.modal > div:nth-child(3) {
  font-size: 1em;
  display: flex;
  flex-direction: row;
  gap: 3ch;
}

#create-button {
  position: absolute;
  right: 3vw;
  bottom: 3vh;
  width: fit-content;
}
